@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700&display=swap');

html,
body {
  height: 100%;
  font-family: 'Ruda', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

@media #{map.get(v.$display-breakpoints, 'sm-and-down')} {
  body .text-h4 {
    font-size: 28px !important;
  }
}
